// Placeholder to allow overriding predefined variables smoothly.

//code with colorful highlight
$code-background-color: #808080;

//code with ``` tag
$code-html-background-color: #F5F5F5;
$code-html-font-color: #333;
